body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

code {
  font-family: "Roboto", sans-serif;
}

html {
  width: 100%;
  overflow: hidden;
}
body {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  overflow-y: hidden;
  color: #121212;
}
@media (max-width: 800px) {
  /* Allow to scroll down to hide address bar*/
  body {
    overflow-y: scroll;
  }
}

* {
  box-sizing: border-box;
}
